<h2>All Heroines</h2>
<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag(:q, "Search By Superpower:") %>
  <%= collection_select(:power, :q, Power.all, :id, :name)%>
  <%= submit_tag("Search") %>
<% end %>

<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>



<%= button_to "New Heroine", new_heroine_path, method: :get%>