<h1>All Heroines</h1>


<h4><%= link_to "Create a New Heroine!", new_heroine_path %></h4>

<%= form_with(url: "/heroines", method: "get") do %>
  <%= label_tag(:power_filter, "Filter By Power: ") %>
  <%= text_field_tag(:power_filter) %>
  <%= submit_tag("Apply") %>
<% end %><br>
<p>(Apply blank space to clear filter)</p>

<p>Filter: <%= @power_filter %></p>


<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine_path(heroine) %>
    </li>
    <br>
  <% end %>
</ul>

<%= link_to "Create a New Heroine!", new_heroine_path %>
