<h2>All Heroines with <%=@selected_power.name%></h2>
<%= form_with(url: "/search", method: "get") do %>
  <%= label_tag(:q, "Heroines with this power:") %>
  <%= collection_select(:power, :q, Power.all, :id, :name)%>
  <%= submit_tag("Search") %>
<% end %>
<ul>
  <% @heroines.each do |heroine| %>
    <li>
      <%= link_to heroine.super_name, heroine %>
    </li>
    <br>
  <% end %>
</ul>




<%= button_to "Back to all Heroines", heroines_path, method: :get %>